html,
button,
input,
select,
textarea {
  color: #949292;
}

html {
  background-color: #C4C4C4;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Julius Sans One", sans-serif;
  font-size: 50px;
}
@media (max-width: 1000px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.title.is-large {
  font-size: 70px;
  letter-spacing: 3px;
}
@media (max-width: 1000px) {
  .title.is-large {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .title.is-large {
    font-size: 30px;
  }
}

.title.is-small {
  font-size: 30px;
}
@media (max-width: 1000px) {
  .title.is-small {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .title.is-small {
    font-size: 15px;
  }
}

.main {
  max-width: 1218px;
  margin: 3rem;
  padding: 0;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .main {
    box-shadow: none;
    margin: 0;
  }
}
.main .hero {
  background: linear-gradient(214.23deg, #FFFFFF 20.24%, #EDE8E3 59.8%, #D2CECB 93.28%), linear-gradient(82.21deg, #DFDEDA 5.72%, #FDFCFA 94.49%);
  position: relative;
}
.main .hero .hero_image {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.main .hero .hero_title {
  position: absolute;
  bottom: 0;
  max-width: 50rem;
  height: 8rem;
  left: 0;
  right: 0;
  background: rgba(241, 240, 238, 0.88);
  padding: 2rem;
  margin: auto;
  border-radius: 10px 10px 0 0;
}
@media (max-width: 1000px) {
  .main .hero .hero_title {
    height: 6rem;
    border-radius: 0;
    padding: 1rem 0 2rem 0;
  }
}
@media (max-width: 768px) {
  .main .hero .hero_title {
    height: 3rem;
  }
}
.main .hero .hero_title .title {
  text-align: center;
}
.main .aanbod {
  background: #F5F5F5;
  padding: 3rem;
}
@media (max-width: 768px) {
  .main .aanbod {
    padding: 1rem;
  }
}
.main .aanbod .topics {
  margin: -1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.main .aanbod .topics .topic {
  background: #EEEEEC;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 30rem;
  line-height: 2;
  margin: 1rem;
}
.main .wie_is {
  background: #F3F0EC;
  padding: 3rem;
}
@media (max-width: 768px) {
  .main .wie_is {
    padding: 1rem;
  }
}
.main .wie_is .body {
  display: flex;
}
@media (max-width: 1000px) {
  .main .wie_is .body {
    flex-wrap: wrap;
  }
}
.main .wie_is .body > * {
  margin: 1rem;
}
.main .wie_is .body .avatar {
  height: 200px;
  border-radius: 5px;
  margin-top: 3px;
}
.main .wie_is .body .bio {
  flex-grow: 1;
  line-height: 2;
}
.main .contact {
  background: #733F09;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: #949292;
}
.main .contact > * {
  margin: 1rem;
}
@media (max-width: 1000px) {
  .main .contact > * {
    margin: 0.75rem;
  }
}
@media (max-width: 768px) {
  .main .contact > * {
    margin: 0.5rem;
  }
}
.main .contact a {
  color: #e0e0e0;
  text-decoration: none;
}
.main .contact em {
  font-style: normal;
  color: white;
}
.main .copyright {
  padding: 1rem;
  background-color: #F3F0EC;
}

/*# sourceMappingURL=main.css.map */
